
.footer {
    padding: 1em 3em 2em 3em;
    color: white;
     background-image:
    linear-gradient(
      to right, 
         	#cabc92, #e3dcc5 
    )
    
}

.footerContent {
    
}

.footerHeader {
    font-size: 3em;
    margin: 1em;
}

.footerNav {
    list-style: none;
    margin-bottom: 4em;
}

.footerNav li {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
}

.footerNav li a {
    color: #d3d3d3;
    text-decoration: none;
}

.footerNav li a:hover {
    color: white;
    text-decoration: none;
}

.footerNav li a:active {
    color: #A6D785;
    text-decoration: none;
}

