.footer {
    color: white;
    
}

.footerContent {
    padding: 5em;
}

.footerHeader {
    font-size: 3em;
    margin: 1em;
}

.footerNav {
    list-style: none;
    margin-bottom: 4em;
}

.footerNav li {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 4em;
}

.footerNav li a {
    color: #d3d3d3;
    text-decoration: none;
}

.footerNav li a:hover {
    color: white;
    text-decoration: none;
}

.footerNav li a:active {
    /*color: #7BBF6A; leaf green*/
    color: #8CDD81;
    text-decoration: none;
}

.gradient {
  background-image:
    linear-gradient(
      to right, 
      rgba(0,0,0,.4), rgba(0,0,0,.1)
    );
}