/* Work */

.workSection {
    background-color: #b9b8af;   
}

.workScreenshot {
    
}

.workScreenshotImage {
    width: 50%;
}

.workItem {
    margin-bottom: 1em;
    margin-left: 1em;
    
}
  
/* Project */ 

.projectSection {
    background-color: #b9b8af;   
}
