/* //////// Projects ///////// */

 /* <li class="proItem">
                     <div class="proScreenshot">
                        <img class="proScreenshotImage" src="images/examples/jimbongo.com.png" alt="">
                     </div>
                     <h3 class="proTitle">Jimmy's Bongo Lifestyle Blog</h3>
                     <div class="proInfoSection" id="hideoutInfo">
                        <p class="proText"></p>
                     </div>
                  </li>
*/

.proSection {
    padding: 1em 3em 2em 3em;
    margin: auto 0;
   background-image:
    linear-gradient(
      to right, 
      #e8e8e8, #a2a2a2 90%
    )

    
    
}

.proList ul {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}


.proItem {
    padding: 0.5em;
    margin: 1em 2em 2em 2em;
}

.proScreenshot {
   height: 230px;
    width: 330px;
    
}

.proScreenshotImage {
    height: inherit;
    width: inherit;
}

.proTitle {
    text-align: center;
    margin: 0 auto;
}

.proInfoSection {
    margin-top: 2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.proText {}

/* Responsive */

@media only screen and (max-width: 666px) {

    .proItem {
        display: block;
        width: 50%;
        margin-bottom: 0.5em;
    }
    
    .proList ul li {
        text-align: center;
        margin: 0 auto;
    }
}